.main{
      width: 100%;
      background: url(/images/backgroung2.jpg);
      background-position: center;
      background-size: cover;
      height: 100vh;
      position: relative;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }